<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to Secure Email, {{username}}</h1>

<form method="POST" action="/logout">
<input type="submit" value="logout">
</form>

<form method="POST" action="/create_email">
<input type="submit" value="New Email">
</form>

<form method="POST" action="/create_folder">
<input type="submit" value="New Folder">
</form>


<!-- <form method="POST" action="/create_calender_folder">
<input type="submit" value="New Calender Folder">
</form>
 -->


<div style="width: 100%;">
   <div style="float:left; width: 30%">
    <div>
      {% for x in folders %}
      <div><form method="POST" action="{{ url_for('list_email', fid=x.0) }}"><input type="submit" value={{x.1}}></form></div>
      {% endfor %}
    </div>

   </div>
   <div style="float:left;">
    <!-- display email in certain folder -->
    <div>
      {% for n in email_ret %}
      <p>Sender/Receiver:{{n.0}} Time: {{n.1}} Content:{{n.2}}</p>
      {% endfor %}
    </div>

   </div>
</div>
<div style="clear:both"></div>


</body>


</html>