<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>


<form method="POST">
  <p>sender: {{username}}@securemail.com</p>
  <p>receiver: <input type="text" name="receiver">@securemail.com</p>
  <textarea rows="60" cols="50" name="text">
  ...
  </textarea>
  <input type="submit" style="visibility: hidden; display: none;">
  <button formaction="/send_new_email">Send</button>
  <!-- <button formaction="/save_draft">Save</button> -->
  <button formaction="/delete_draft">Delete</button>
  <!-- <input type="submit" value="Default Action"> -->
</form>


</body>


</html>